@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background: #000;}
section{
    border: 1px solid #fff;
    width: 100vw;
    height: 100vh;
}
.outro{height: 50vh;}
.title{
    margin:20% 0;
}
.title h2{
    font-size: 60px;
    text-align: center;
    color:#fff;
    opacity: 0;
  animation: slideUp 3s forwards;
}
.flex{display: flex;}
@keyframes slideUp {
    to {
        opacity: 1;
        bottom: 10px; 
    }
}