.hslide-container, .vslide-container{
    height: 100vh;
    overflow: hidden;
}
main{display: flex;}
.vslide-wrap{position: relative;
    top:-100%;
}
.hslide-wrap{
    display: flex;
    position: relative;
   left: -100%;
}
.hslide {
 width: 100%;
 min-width: 100%;
    height: 100vh;
    background-size: cover;
}
.vslide{

    font-size: 100px;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.hslide1{background-image: url(./slide1.png);}
.hslide2{background-image: url(./slide2.png);}
.hslide3{background-image: url(./slide3.png);}
.vslide1{background-image: url(./slide4.png);}
.vslide2{background-image: url(./slide5.png);}
.vslide3{background-image: url(./slide6.png);}
button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
button.prev{left: 10px;}
button.next{right: 10px;}
@media screen and (max-width: 640px) {
    .hslide-container, .vslide-container{height: 50vh;}
}
@media screen and (min-width: 641px) {
    main{display: flex;}
    .hslide-container,.vslide-container{width: 50%;}
}