* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {list-style: none;}
img{vertical-align: top;}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #555;
    position: relative;
}
section > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
article {
    flex: 1;
    height: 100%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
article::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
article .summary {
    color: #fff;
    padding: 0 70px;
    position: absolute;
    z-index: 1;
}
article .summary p {margin: 20px 0 50px;}
article .summary button {border: 1px solid #fff;}
article .summary button a {
    display: block;
    padding: 10px 20px;
}
article .summary button:hover {
    background: #fff;
    color: #333;
}

.detail {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 300vh;
    background: #fff;
    transition: .5s;
    z-index: 99;
    transition-duration: 0.35s;
    transition-timing-function: linear;
}

.sec2 {
    font-size: 40px;
    text-align: center;
    /* width: 100%;
    height: 100%; */
}

/* h4{
    margin: 20px 0;
    font-size: 28px;
    overflow: hidden;
    gap: 3px;
    display: flex;
    position: relative;
}
h4{
    display: flex;
    gap: 1px;
    opacity: 0;
    transition: .5s;
}
h4 span {
    display: inline-block;
    opacity: 0;
    border: 1px solid #f00;
    transform: translateY(100%);
    transition: .35s;
}
/* article.on h4{opacity: 1;}   */
article.on:after{width: 100%;} 