/*
let color = red;
$color = red
*/

$color:red;

/* function(){} = @mixin(){}*/
/* @include */

@mixin box-shadow($x, $y, $blur, $color){
    background: #eee;
    border-radius: 10px;
    padding:10px;
    margin:20px;
    // box-shadow: 0 10px 10px #333;
    box-shadow: $x $y $blur $color;
}


%font {
    font-size:40px;
    font-weight:bold;
}


body{
    background-color: $color;
}
.card1 {
    @include box-shadow(0,10px,10px,black);
    // box-shadow: box-shadow;
    ul{
        li{
            color:#f90;

            &:hover{
                background: blue;
            }
            /* $(this) = & */
        }
    }
}

/*
%props {}
@extend %props;
*/
.card2 {
    @include box-shadow(0,10px,10px,orange);
    li {
        &:first-child{
            @extend %font;
        }
        &:hover{
            @extend %font;
        }
    }
}

@mixin border-radius(){}




