@import url(/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nanum Gothic Coding', monospace;
}

.flex {
  display: flex;
}

h1 img {
  height: 50px;
}

.inner {
  max-width: 1440px;
  margin: auto;
}

header {
  background: #0c0e3d;
  border: 1px solid #000;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 14px;
  z-index: 999;
}

section {
  max-width: 1440px;
  border: 1px solid #f00;
  position: relative;
  margin: auto;


}

figure,
.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summary .text-inner {
  width: 90%;
}

figure video {
  width: 100%;
}
a.bar {
  position: absolute;
  right: 5%;
  display: none;
  cursor: pointer;
  z-index: 99;
  border: 1px solid #fff;
}
a{text-decoration: none;}
.summary h3 {
  position: relative;
  top: 100px;
  opacity: 0;
  color: rgb(33, 135, 236);

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  transition: 0.5s;
}

.summary h2 {
  position: relative;
  top: 100px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 2rem;
  opacity: 0;
  transition: 0.5s 0.3s;
}
.summary p{
  position: relative;
  top: 100px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  opacity: 0;
  transition: 0.5s 0.3s;}

section.on .summary h3 {
  opacity: 1;
  top: 0;
}
section.on .summary h2 {
  opacity: 1;
  top: 0;
}
section.on .summary p {
  opacity: 1;
  top: 0;
}


@media screen and (max-width:768px) {
  a.bar {display: block;}
  header .inner {
    height: 60px;
  }

  section {

    top: 60px;
    height: calc(100vh - 60px);
  }

  figure {
    height: 50%
  }
  figure video{height: 100%;}

  .summary {
    height: 50%
  }
  .summary h3 {
    font-size: 1.2rem;
  }

  .summary h2 {
    font-size: 2rem;
  }

  
  nav {
    display: none;
  }

}

@media screen and (min-width:769px) {

  header .inner {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
  }



  nav {
    width: 60%;
  }

  nav ul {
    gap: 5rem;
  }

  nav ul li {
    flex-shrink: 0;
  }

  nav ul li a {
    font-size: 20px;
    color: #fff;
    position: relative;
  }

  nav ul li.on a::after {
    width: 100%;
  }

  nav ul li a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -20px;
    transition: 0.35s;
    left: 50%;
    transform: translateX(-50%);
  }

 
  section {
    display: flex;
    top: 80px;
    height: calc(100vh - 80px);
  }
  section .inner{width: 60%;
  display: flex;
  justify-content: space-between;
  }
  nav ul li{flex-shrink: 0;}
  section:nth-child(odd) figure {
    order: 1;
  }

  section:nth-child(odd) .summary {
    order: 2;
  }

  figure,
  .summary {
    width: 50%;
  }

  section {

    top: 80px;
  }

  .summary h3 {
    font-size: 1.5rem;
  }

  .summary h2 {
    font-size: 3rem;
  }

  .summary p {
    font-size: 1.125rem;
  }


}