*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%; 
    margin: auto;
}
.flex{display: flex;}
.ju-co{
    justify-content: space-between;
    align-items: center;
}
.slide, .robust, .smooth, .sleek, .safe {
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;    
    background-attachment: fixed;/*스크롤시 배경이미지도 같이 이동*/
    background-position: center;
}
a{
    color:black;
    text-decoration: none;
}
li{list-style: none;}
.bag2, .business2, .car2, .cross2 { 
    align-items: center;
    margin-top: 150px;
    line-height: 30px;
}
.bag, .business, .crossbag, .carrer {justify-content: center;}
.bag2 p, .business2 p, .car2 p, .cross2 p {margin-bottom: 30px;}
.bag2 hr, .business2 hr, .car2 hr, .cross2 hr {
    margin: 20px 0;
   width: 50px;
   border: 1px solid #000;
   line-height: 200px;
}
.bag2 a, .business2 a, .car2 a, .cross2 a {
    border: 3px solid #000;
    padding:10px 20px;
}
section h4:hover> a {
    background: #000;
    color:white;
    transition: .35s;
}
/* .bag2 h4:hover> a {
    background: #000;
    color:white;
    transition: .35s;
}
.car2 h4:hover> a {
    background: #000;
    color:white;
    transition: .35s;
}
.business2 h4:hover> a {
    background: #000;
    color:white;
    transition: .35s;
}
.cross2 h4:hover> a {
    background: #000;
    color:white;
    transition: .35s;
} */
/***********************common**********************/
header{
    text-align: center;
    height: 70px;
}
header img{vertical-align: middle;}
header hr{
    border: 1px solid #000;
    margin:20px;
}
.gnb{float:right;}
.menu{justify-content: center;}
.main-menu{padding-left: 20px;}
.slide{
    background-image: url(./images/slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.slide img {
    margin: auto;
    display: flex;
    padding-top: 300px;
}/*transform:trnaslate로 이미지를 X축으로 50퍼만큼, Y축으로 250%만큼 이동*/
.sdetail { 
    height: 500px;
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 3px;
}
/**********************header******************/
.robust{
    background-image: url(./images/robust.png);
    /* position: relative; */
}
/* .rdetail h2 {
    padding-left:1000px;
    text-align: left;
    color:white;
    font-size: 35px;
}
.rdetail p {
    padding-left:400px;
    color:white;
    font-size: 15px;
} */
.bag, .business img {
    padding-left: 10%;
    /* position:absolute; */
}
.car2, .cross2 {
    margin-left: 280px;
    padding-right: 5%;
}
.bag2, .business2 {padding-left: 5%; /***제품이미지와 제품 설명 사이의 간격***/}

/***********************robust*****************/

.smooth{background-image: url(./images/street.png);}
/***********************sec3******************/
.sleek{background-image: url(./images/sleek.png);}
/**********************sec4*********************/
.safe{background-image: url(./images/safe.png);}
/**********************sec5**************************/



/**********************footer*************************/