@import url(/reset.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{cursor: none;}
.sec1{
    background: #fdfcfc;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.title{padding: 15%;}
.title h1{
    font-size: 80px;
    line-height: 50px;
}
.title h2{
    font-size: 50px;
    letter-spacing: 15px;
    font-weight: lighter;
}
.title p{
    font-size: 30px;
    padding-top: 30px;
    line-height: 50px;
}
button{
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 25%;
}
.moving img{
    position: absolute; 
    width: 300px;
}
.moving .cursor{width: 80px;}
button a{font-size: 20px;}
.img3{
    top:-100px;
    left:-100px;
}
.img4{
    right:-100px;
    bottom:-120px;
}
.img2{
    left:75%;
    bottom: 45%;
}
.img5{
    left:45%;
    top:60%;
}